@import "/src/styles/variables";

@mixin circle($width, $height, $color, $x, $y) {
    width: $width;
    height: $height;
    position: absolute;
    background: $color;
    -webkit-border-radius: $width/2;
    -moz-border-radius: $width/2;
    border-radius: $width/2;
    top: calc($x - calc($height/2));
    left: calc($y - calc($width/2));
    z-index: -100;

}

.circle {
    @include circle(140vw, 250vh, $backColor, 50%, -10px);
    z-index: -100;
}

.parts {
    position: absolute;
    left: 75vw;
    width: 20vw;
    .list {
        height: 100vh;
        margin-top: 10vh;
        margin-bottom: 10vh;
        .listElement{
            padding-top: 5%;
            padding-bottom: 5%;
            height: 70px;
            vertical-align: middle;
            p {
                transition: transform .2s;
                padding-top: 10px;
                position: relative;
                text-align: center;
                font-size: 2vw;
                height: 75%;
                border: 1px solid $grey;
                border-radius: 10px;
                box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
            }
            :hover {
                cursor: pointer;
                transform: scale(1.2); 
            }
        }
    }
}



.infos {
    width: 35vw;
    height: 70vh;
    position: absolute;
    left: calc(35vw / 3 * 1.5);
    padding-top: 7%;
    text-align: center;
    .image {
        img {
            width: auto;
            height: 50vh;
        }
    };
    .name {
        font-size:30px;
    };
    .desc {
        font-size: 25px;
        color: $grey;
    }
}

