

<div class="infos">
    <div class="image">
        <img src="../assets/images/photoAccueilRonde.png" alt="Antoine Martet">
    </div>
    <br>
    <div class="name">
        {{ name }}
    </div>
    <div class="desc">
        {{ desc }}
    </div>
</div>


<div class="parts">
    <div class="list">
        <div class="listElement">
            <p>
                <i class="fa-solid fa-graduation-cap fa-sm"></i>
                Formation
            </p>
        </div>
        <div class="listElement">
            <p>
                <i class="fa-solid fa-briefcase fa-sm"></i>
                Professionnel
            </p>
        </div>
        <div class="listElement">
            <p>
                <i class="fa-solid fa-people-group fa-sm"></i>
                Associatif
            </p>
        </div>
        <div class="listElement">
            <p>
                <i class="fa-solid fa-wrench fa-sm"></i>
                Technologies
            </p>
        </div>
        <div class="listElement">
            <p>
                <i class="fa-solid fa-address-book fa-sm"></i>
                Contact
            </p>
        </div>
    </div>
</div>

<div class="block_circle">
    <div class="circle"></div>
</div>
