/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: 'Hammersmith One';
    src: url(./assets/fonts/HammersmithOne-Regular.ttf) format("truetype");
}

body {
    overflow: hidden;
    font-family: Hammersmith One;
}