/* You can add global styles to this file, and also import other style files */
@import "/src/styles/variables";


@font-face {
    font-family: 'Hammersmith One';
    src: url(./assets/fonts/HammersmithOne-Regular.ttf) format("truetype");
}


::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey;
}


html {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    font-family: Hammersmith One;
    padding: 0;
    margin: 0;
    height: 100%;
}

.content {
    height: 80%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    overflow: auto;

    .box-element-md {
        transition: all .2s;
        width: 43%;
        height: 25%;
        margin: 2%;
        padding: 1%;
        float: left;
        border: solid lightgrey;
        border-radius: 10px;
        h1 {
            font-size: 3vh;
            margin: 0%;
        }
        h2 {
            font-size: 2vh;
        }
        p {
            font-size: 1.7vh;
        }
        &:hover {
            background-color: $backColor;
            cursor: pointer;
            transform: scale(1.05); 
            ;
        }
    }
}